In [1]:
import pandas as pd
import json
import requests

In [2]:
# Specify URL for Oakland crimewatch map data
url = "https://data.oaklandca.gov/resource/ym6k-rx7a.json"
# Make request and store response
response = requests.get(url)

# Print status code
print(response.status_code)

200

In [3]:
# JSON-ify response
response_json = response.json()

# Print first and last articles
print(f"The first response is {json.dumps(response_json[0], indent=2)}.")
print(f"The last response is {json.dumps(response_json[-1], indent=2)}.")

The first response is {
  "crimetype": "VANDALISM",
  "datetime": "2021-03-27T20:00:00.000",
  "casenumber": "21-016163",
  "description": "VANDALISM",
  "policebeat": "77X",
  "address": "LAKE MERRIT",
  "city": "Oakland",
  "state": "CA"
}.
The last response is {
  "crimetype": "NARCOTICS",
  "datetime": "2016-02-24T12:16:00.000",
  "casenumber": "16-010185",
  "description": "SIMPLE POSSESSION OF HEROIN, COCAINE, LISTED CONTROLLED SUBSTANCES",
  "policebeat": "06X",
  "address": "600 24TH ST",
  "city": "Oakland",
  "state": "CA",
  "location_1": {
    "type": "Point",
    "coordinates": [
      -122.272397,
      37.814283
    ]
  },
  ":@computed_region_w23w_jfhw": "1489"
}.

In [4]:
print(f"There are {len(response_json)} responses.")

There are 1000 responses.

In [5]:
# Convert JSON to Pandas DataFrame and drop NaN values
opd_crime_df = pd.read_json(url)
opd_crime_df = opd_crime_df.dropna()
opd_crime_df.head()

,crimetype,datetime,casenumber,description,policebeat,address,city,state,location_1,:@computed_region_w23w_jfhw
88,PETTY THEFT,2016-11-20 02:00:00,16-915770,THEFT,14X,400 VERNON ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.254147,...",1487.0
89,BURG - AUTO,2016-11-21 19:45:00,16-915840,BURGLARY-AUTO,08X,2500 BROADWAY,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.2649, 3...",1489.0
90,GRAND THEFT,2016-11-20 22:30:00,16-915881,GRAND THEFT,14X,200 EUCLID AV,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.253586,...",1487.0
91,GRAND THEFT,2016-12-18 01:00:00,16-917229,THEFT,11X,500 61ST ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.261142,...",1486.0
92,PETTY THEFT,2016-09-27 00:00:00,17-000252,THEFT,04X,1900 FRANKLIN ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.267798,...",1489.0

In [6]:
print(f"There are {len(opd_crime_df)} rows.")

There are 521 rows.